<div class="log-wrapper">
  <div class="log-container">
    <h1 class="log-title">Gerard</h1>
    <h2 class="log-title-section">
      Transporter facilement
      vos objets volumineux
    </h2>
    <div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <%= f.input :email, required: true, autofocus: true, placeholder: "Email", label: false, input_html: { class: "log-email" } %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable), placeholder: "Mot de passe", label: false, input_html: { class: "log-password" } %>
        <%= f.input :password_confirmation, required: true, placeholder: "Confirmation du mot de passe", label: false, input_html: { class: "log-password" } %>
        <%= f.hidden_field :profile_type, value: @_request.fullpath.split("?").last  %>
        <%= f.button :submit,  "Créer un compte", class: "btn btn-primary btn-primary-log", input_html: { class: "log-action" } %>
      <% end %>

      <%#= render "devise/shared/links" %>
    </div>
    <div>
      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <div class = "btn btn-fb">
          <%= link_to "Créer un compte avec facebook", omniauth_authorize_path(resource_name, provider)%>
          </div>
        <% end -%>
        <br>
      <% end -%>
    </div>
  </div>
</div>
