 <h2 class ="text-center">Profile page</h2>

<%= simple_form_for(@mover) do |f| %>
  <%= f.error_notification %>
  <div class="col-xs-6">
    <%= f.input :first_name, placeholder: "Votre prénom" , label: "Prénom"%>
  </div>

  <div class="col-xs-6">
    <%= f.input :last_name, placeholder: "Votre nom", label: "Nom"%>
  </div>

  <div class="col-xs-12">
    <%=f.input :phone_number, placeholder:"Pour être contacté par le client", label: "Téléphone"%>
  </div>

  <div class="col-xs-12 text-center">
    <h4>Votre email :  <%= current_user.email %></h4>
  </div>

  <div class="col-xs-12 text-center">
    <%= f.button :submit %>
  </div>

<% end %>
