<nav class="navbar-wagon">
  <div class="container navbar-wagon-container">
    <div class="btn-group">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="fa fa-bars" style="width: 500px;"></span></a>
          <ul class="dropdown-menu dropdown-menu-left navbar-wagon-dropdown-menu">
             <li>
              <% if user_signed_in? %>
                <% if current_user.profile_type == "Customer" %>
                  <%= link_to customers_path do %>
                    <i class="fa fa-user"></i> <%= t ".profile", default: "Profile" %>
                  <% end %>
                <% else %>
                  <%= link_to mover_path(current_user) do %>
                    <i class="fa fa-user"></i> <%= t ".profile", default: "Profile" %>
                  <% end %>
                <% end %>
                <% else %>
                  <%= link_to t(".sign_in", default: "New?"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
              <% end %>
            </li>
            <li>
              <%= link_to new_course_path do %>
                <i class="fa fa-home"></i>  <%= t ".profile", default: "Home" %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
              <% end %>
            </li>
          </ul>
      </div>
<!--
    <form action="" class="navbar-wagon-search hidden-xs">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search for featured stuff">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form> -->
<!--
    <% if user_signed_in? %>
      <%= link_to courses_path, class: "navbar-wagon-item navbar-wagon-link" do %>
        <div class="icon-badge-container">
          <i class="fa fa-envelope-o"></i>
        </div>
      <% end %>


    <% else %>
      <%= link_to t(".sign_in", default: "New?"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %> -->
  </div>


</nav>
