<h2 class ="text-center">Votre profil</h2>

<%= simple_form_for @customer, url: customers_path, method: :post do |f| %>
  <%= f.error_notification %>
  <div class ="text-center">
    <%= image_tag @customer.picture.url(:medium), class: "img-rounded" %>
  </div>


  <div class="col-xs-6">
    <%= f.input :first_name, placeholder: "Votre prénom" , label: "Prénom"%>
  </div>

  <div class="col-xs-6">
    <%= f.input :last_name, placeholder: "Votre nom", label: "Nom"%>
  </div>

  <div class="col-xs-12">
    <%=f.input :phone_number, placeholder:"Pour être contacté par le mover", label: "Téléphone"%>
  </div>

  <div class="col-xs-12 text-center">
    <h4>Votre email :  <%= current_user.email %></h4>
  </div>

  <div class="col-xs-12">
    <h4><%= f.input :picture%></h4>
  </div>

  <div class="col-xs-12 text-center">
    <% if policy(@customer).update? %>
      <%= f.button :submit %>
    <% end %>
  </div>
<% end %>



