<h2 class ="text-center">Profil</h2>

<%= simple_form_for(@customer) do |f| %>
  <%= f.error_notification %>
  <div class="col-xs-6">
    <%= f.input :first_name, placeholder: "Votre prénom" , label: "Prénom"%>
  </div>

  <div class="col-xs-6">
    <%= f.input :last_name, placeholder: "Votre nom", label: "Nom"%>
  </div>

  <div class="col-xs-12">
    <%=f.input :phone_number, placeholder:"Pour être contacté par le mover", label: "Téléphone"%>
  </div>

  <div class="col-xs-12 text-center">
    <h4>Votre email :  <%= current_user.email %></h4>
  </div>

  <div class="col-xs-12 text-center">
    <h4><%= f.file_field :picture %></h4>
  </div>

  <div class="col-xs-12 text-center">
    <% if policy(@customer).create? %>
      <%= f.button :submit %>
    <% end %>
  </div>
<% end %>

