<div class="banner text-center">
  <div class="top-right hidden-sm hidden-md hidden-lg">
    <%= link_to "Sign In", user_session_path, class: "btn btn-warning" %>
    <%= link_to "New ?", new_user_registration_path + "?customer", class: "btn btn-warning" %>
    <%= link_to "Become Gerard", new_user_registration_path + "?mover", class: "btn btn-success" %>
  </div>

  <div class="wrapper">
    <h1>Gerard,</h1>
      <div class="slogan">
        <hr>
        <h2 class="slidingVertical"><strong>move your</strong>
        <span>wardrobe</span>
        <span>fridge</span>
        <span>sofa</span>
        <span>boxes</span>
        <span>washer</span>
      </div>
      </h2>
  </div>

  <div class='form-home hidden-sm hidden-md hidden-lg'>
    <%= simple_form_for @course, url: preview_courses_path, method: 'get' do |f| %>

      <%= f.fields_for :sites do |ff| %>
        <%= ff.input :address, placeholder: "Put a pick up address", label: false %>
        <%= ff.hidden_field :type_of, value: "pick_up" %>

        <%= f.fields_for :sites do |ff| %>
          <%= ff.input :address, placeholder: "Put a drop off address",label: false %>
          <%= ff.hidden_field :type_of, value: "drop_off" %>
          <%= ff.hidden_field :from, value: "home" %>
        <br>
          <%= f.button :submit, "Estimate", class: "btn-home btn btn-primary" %>
        <% end %>
      <% end %>

    <% end %>
  </div>

</div>

<!-- Include Google Maps JS API -->
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyDp6N1RFk7uGegeJBlNW9pKQmsY0ruzqDw "></script>

<!-- Custom JS code to bind to Autocomplete API -->
<script type="text/javascript" src="autocomplete.js"></script>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('input').keypress(function(e) {
        if(e.keyCode == '13') {
          e.preventDefault();
        }
      })
    })
  <% end %>
<% end %>
