<div class="banner text-center">

  <div class="banner-background-shadow"> </div>
  <div class="banner-content">
    <div class="banner-btn">
      <%= link_to "Sign In", user_session_path %>
      <%= link_to "Sign Up", new_user_registration_path + "?customer" %>
      <%= link_to "Become a Gerard", new_user_registration_path + "?mover", class: "btn btn-success" %>
    </div>
    <div class="col-sm-6 col-sm-offset-3">

      <h1>Gerard</h1>

      <section class="wrapper">
        <h2 class="sentence">Move your
          <div class="slidingVertical">
            <span>couch</span>
            <span>fridge</span>
            <span>shelves</span>
            <span>boxes</span>
            <span>washer</span>
          </div>
        </h2>
      </section>

      <br>

      <div class='form-home'>
        <%= simple_form_for @course, url: preview_courses_path, method: 'get' do |f| %>

          <%= f.fields_for :sites do |ff| %>
            <%= ff.input :address, placeholder: "Put a pick up address", label: false %>
            <%= ff.hidden_field :type, value: "pick_up" %>

            <%= f.fields_for :sites do |ff| %>
              <%= ff.input :address, placeholder: "Put a drop off address",label: false %>
              <%= ff.hidden_field :type, value: "drop_off" %>
              <%= ff.hidden_field :from, value: "home" %>
              <br>
              <%= f.button :submit, "Estimate", class: "btn btn-primary" %>
            <% end %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Include Google Maps JS API -->
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyDp6N1RFk7uGegeJBlNW9pKQmsY0ruzqDw "></script>

<!-- Custom JS code to bind to Autocomplete API -->
<script type="text/javascript" src="autocomplete.js"></script>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('input').keypress(function(e) {
        if(e.keyCode == '13') {
          e.preventDefault();
        }
      })
    })
  <% end %>
<% end %>
