<h2 class="text-center">Courses en attente</h2>

<div class="course-wrapper">
  <!-- <h2 class='course-item-section'>Course en attente</h2> -->
  <div class="course-item-container">
    <div class="course-item">
      <% @courses.each_with_index do |course, i| %>
      <div id="<%=i%>" class="choice">
      <div class="text-center"><%= image_tag course.picture.url (:medium) %></div>
      <div class="text-center border-description"><%=course.description %></div>
      <div class="course-distance">
        <div class="course-distance-item">
          <i class='mdi mdi-truck'></i>
          <%= course.kms %> kms
        </div>
        <div class="course-distance-item">
          <i class='mdi mdi-clock-fast'></i> <%= course.time %> minutes
        </div>
      </div>
      <div class="course-pickup">
        <i class='mdi mdi-flag-outline'></i> <%= course.sites.select { |site| site.type_of == "pick_up" }.first.address %>
      </div>
      <div class="course-dropoff">
        <i class='mdi mdi-flag-checkered'></i> <%= course.sites.select { |site| site.type_of == "drop_off" }.first.address %>
      </div>
      <div class="course-action">
        <div class="course-price">
          <%= humanized_money_with_symbol(course.price) %>
        </div>
        <div class="course-action-item">
        </div>
      </div>
      <div class='bg-blue margin-top--2'>En acceptant la course, vous acceptez les conditions générales de gerard.</div>
      <div class ="button-choice">
        <button class="btn btn-danger btn-accept refuse" data="<%=i %>"type="button">Refuser </button>
        <%= link_to 'Accepter', course_path(course), class: 'btn btn-success btn-accept' %>
      </div>
      </div>
      <%end%>
    </div>
  </div>
</div>



