
<div class= "text-center">
<h1>Add a course</h1>
</div>




<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for @course do |f| %>
        <%#= f.input :mover_rating %>

        <%#= f.simple_fields_for :sites do |ff| %>
          <%#= ff.input :address, label: "Pick up address" %>
          <%#= ff.hidden_field :type, value: "pick_up" %>
          <%#= ff.input :address, label: "Drop off address" %>
          <%#= ff.hidden_field :type, value: "drop_off" %>
        <%# end %>

        <%= f.fields_for :sites do |ff| %>
          <%= ff.input :address, label: "Pick up address" %>
          <%= ff.hidden_field :type, value: "pick_up" %>

          <%= f.fields_for :sites do |ff| %>
            <%= ff.input :address, label: "Drop off address" %>
            <%= ff.hidden_field :type, value: "drop_off" %>

          <%= f.button :submit, "Submit", class: "btn btn-primary" %>
          <% end %>
    <%#= simple_form_for @course do |m| %>
      <%#= m.simple_fields_for :site do |c| %>
        <%#= c.input :type, as: :hidden %>
        <%#= c.input :field_value, label: c.object.field_key, input_html: { id: c.object.field_key } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
