<div class="course-wrapper">
  <h2 class='course-item-section'>Votre course</h2>
  <div class="course-item-container">
    <div class="course-item">
      <div class="course-distance">
        <div class="course-distance-item">
          <i class='mdi mdi-truck'></i>
          <%= @course.kms %> kms
        </div>
        <div class="course-distance-item">
          <i class='mdi mdi-clock-fast'></i> <%= @course.time %> minutes
        </div>
      </div>
      <div class="course-pickup">
        <i class='mdi mdi-flag-outline'></i> <%= @course.sites.select { |site| site.type_of == "pick_up" }.first.address %>
      </div>
      <div class="course-dropoff">
        <i class='mdi mdi-flag-checkered'></i> <%= @course.sites.select { |site| site.type_of == "drop_off" }.first.address %>
      </div>
      <div class="course-action">
        <div class="course-price">
          <%= humanized_money_with_symbol(@course.price) %>
        </div>
        <div class="course-action-item">
          <%= link_to 'Get it', new_user_session_path(pending_course_id: @course.id), class: "btn btn-primary"%>
        </div>
      </div>
    </div>
  </div>
</div>
