<div class="text-center">
  <h2>Votre course</h2>
  <p> lieu de prise en charge : <%= @course.sites.select { |site| site.type_of == "pick_up" }.first.address %></p>
  <p> lieu de dépot : <%= @course.sites.select { |site| site.type_of == "drop_off" }.first.address %> </p>

  <h2>Prix total : <div id="price"></div></h2>
  <h3>Détails du prix</h3>

  <div>Travel </div>

  <div id="distance"><%= @course.kms %> kms</div>
  <div id="duration"><%= @course.time %> minutes</div>
  <div id="distancevalue"><%= humanized_money_with_symbol(@course.price) %></div>

  <%= link_to 'Continue', new_user_session_path(pending_course_id: @course.id), class: "btn btn-primary"%>
</div>
