<div class="text-center">
  <h1>Votre Course</h1>


  <p> lieu de prise en charge : <%= @course.sites.select { |site| site.type_of == "pick_up" }.first.address %> </p>
  <p> lieu de dépot : <%= @course.sites.select { |site| site.type_of == "drop_off" }.first.address %> </p>

<h2>Prix total : <div id="price"></div></h2>


  <h3>Détails du prix</h3>

  <div>Frais de base 39€</div>

  <div>Travel </div>

  <div id="distance"></div>
  <div id="duration"></div>
  <div id="distancevalue"></div>
  <div id="durationvalue"></div>




</div>


<%= content_for :after_js do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var service = new google.maps.DistanceMatrixService;
      service.getDistanceMatrix({
        origins: ['<%= @course.sites.select { |site| site.type_of == "pick_up" }.first.address %>'],
        destinations: ['<%= @course.sites.select { |site| site.type_of == "drop_off" }.first.address %>'],
        travelMode: google.maps.TravelMode.DRIVING,
        unitSystem: google.maps.UnitSystem.METRIC,
        durationInTraffic: true,
        avoidHighways: false,
        avoidTolls: false
      }, function(data) {
        var distance = data.rows["0"].elements["0"].distance.text
        var duration = data.rows["0"].elements["0"].duration.text
        var distancevalue = data.rows["0"].elements["0"].distance.value
        var durationvalue = data.rows["0"].elements["0"].duration.value
        var price1 = ((distancevalue/1000) * 2) + ((durationvalue/60) * 0.6)
        var price = Math.ceil(price1) + 39
        $('#distance').text(distance)
        $('#duration').text(duration)
        $('#distancevalue').text(distancevalue)
        $('#durationvalue').text(durationvalue)
        $('#price').text(price)
      })
    })
  <% end %>
<% end %>


