<div class = "text-center card">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h2>Votre course</h2>
        <p> lieu de prise en charge : <%= @course.sites.select { |site| site.type_of == "pick_up" }.first.address %>
        </p>
        <p> lieu de dépot : <%= @course.sites.select { |site| site.type_of == "drop_off" }.first.address %>
        </p>
        <h3>Détails du prix</h3>

        <div>Travel </div>

        <div id="distance"><%= @course.kms %> kms</div>
        <div id="duration"><%= @course.time %> minutes</div>
        <div id="distancevalue">TOTAL: <%= humanized_money_with_symbol(@course.price) %></div>

        <%= form_tag course_payments_path(@course) do %>
            <h2 style="color:black;">Purchase of course <%= @course.sku %></h2>
            <article>
              <label class="amount">
                <span>Amount: <%= humanized_money_with_symbol(@course.price) %></span>
              </label>
            </article>

            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Reference n°<%= @course.sku %>"
              data-amount="<%= @course.price_cents %>"
              data-email = "<%= current_user.email %>"
              data-currency="EUR">
            </script>

        <% end %>
      </div>
    </div>
  </div>
</div>
