<% if current_user.profile_type == "Customer" || current_user.profile_type == "customer" %>
  <div class="course-wrapper">
    <h2 class='course-item-section'>Votre course</h2>
    <div class="course-item-container">
      <div class="course-item">
        <div class="course-distance">
          <div class="course-distance-item">
            <i class='mdi mdi-truck'></i>
            <%= @course.kms %> kms
          </div>
          <div class="course-distance-item">
            <i class='mdi mdi-clock-fast'></i> <%= @course.time %> minutes
          </div>
        </div>
        <div class="course-pickup">
          <i class='mdi mdi-flag-outline'></i> <%= @course.sites.select { |site| site.type_of == "pick_up" }.first.address %>
        </div>
        <div class="course-dropoff">
          <i class='mdi mdi-flag-checkered'></i> <%= @course.sites.select { |site| site.type_of == "drop_off" }.first.address %>
        </div>
        <div class="course-action">
          <div class="course-price">
            <%= humanized_money_with_symbol(@course.price) %>
          </div>
          <div class="course-action-item">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Reference n°<%= @course.sku %>"
                data-amount="<%= @course.price_cents %>"
                data-email = "<%= current_user.email %>"
                data-currency="EUR">
              </script>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
    <div class="course-wrapper">
      <h2 class='course-item-section'>Description</h2>
      <div class="course-item-container">
        <div class="course-item">
          <div class="course-distance">
            <div class="course-distance-item">
              <i class='mdi mdi-truck'></i>
              <%= @course.kms %> kms
            </div>
            <div class="course-distance-item">
              <i class='mdi mdi-clock-fast'></i> <%= @course.time %> minutes
            </div>
          </div>
          <div class="course-pickup">
            <i class='mdi mdi-flag-outline'></i> <%= @course.sites.select { |site| site.type_of == "pick_up" }.first.address %>
          </div>
          <div class="course-dropoff">
            <i class='mdi mdi-flag-checkered'></i> <%= @course.sites.select { |site| site.type_of == "drop_off" }.first.address %>
          </div>
          <hr>
          <div class = "course-pickup">
            <i class= 'mdi mdi-account' ></i>
            <%= @course.customer.first_name.capitalize %>
            <%= @course.customer.last_name.capitalize %>
          </div>
          <div class = "course-pickup">
            <i class=  'mdi mdi-phone'></i>
            <%= @course.customer.phone_number %>
          </div>

          <div class="course-action">
            <div class="course-price">
              <%= humanized_money_with_symbol(@course.price) %>
            </div>
            <div class="course-action-item">
              <%= link_to "GO!", mover_path(current_user), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
